<h1>Editar mis datos</h1>
<div class='container textdiv'>
<?php
echo $this->Form->create('Patient');
echo $this->Form->input('firstName',array('class'=>'form-control','label'=>'Nombre'));
echo $this->Form->input('lastName',array('class'=>'form-control','label'=>'Apellido'));
echo $this->Form->input('obrasocial_id',array('class'=>'form-control','label'=>'Obra Social'));
echo $this->Form->input('socialNumber',array('class'=>'form-control','label'=>'Nro Credencial'));
echo $this->Form->input('address',array('class'=>'form-control','label'=>'Direccion'));
echo $this->Form->input('phone',array('class'=>'form-control','label'=>'Telefono'));
echo $this->Form->end('Guardar');
?>
</div>
	
</div>
