
</div>

<div class="row">
    <div class="col-md-3 hidden-sm hidden-xs">
       
    </div>
    <div class="col-md-6 box-challenge">
                <div class="box-createproposal">
<?php
    echo $this->Form->create('User');
    echo $this->Form->input('username',array('class' => 'form-control','label'=>'Ingrese su DNI'));
    echo $this->Form->input('active',array('class' => 'form-control','type'=>'hidden','label'=>'Activo','value'=>1));
    echo $this->Form->input('usertype_id',array('class' => 'form-control','type'=>'hidden','value'=>3));
    echo $this->Form->input('password',array('class' => 'form-control','type'=>'hidden','value'=>12345678));
   
    function generarCodigo($longitud) {
     $key = '';
     $pattern = '1234567890abcdefghijklmnopqrstuvwxyz';
     $max = strlen($pattern)-1;
     for($i=0;$i < $longitud;$i++) $key .= $pattern{mt_rand(0,$max)};
     return $key;
    }

    $codigo = generarCodigo(20);

    echo $this->Form->input('code',array('type'=>'hidden','value'=>$codigo));
    ?>
    <div class="pull-center">
    <?php
       echo $this->Form->submit(
        'CREAR ', 
        array('id' => 'btnCreateUser','class' => 'btn btn-success btn-lg', 'title' => 'CREAR')
    );
        ?>
    </div>
        
        
        <br/><br/>
        </div>
    </div>
        

    </div>


