<h1>Editar Day</h1>
<div class='container'>
<?php
echo $this->Form->create('Day');
echo $this->Form->input('name',array('class'=>'form-control','label'=>'Nombre'));
echo $this->Form->end('Guardar');
?>
</div>
