<table class="table lefttable">
    <tr>
        <th>Propuesta</th>
        <th>Votos</th>
    </tr>
    <?php
    $this->log($proposal, 'debug');
    foreach($proposal as $props)
            {
                //TODO: Take query ProposalName => VotesCount
                if($props['Proposal']['challenge_id'] == $model['Challenge']['id'])
                {
                    echo "<tr><td>".$props['Proposal']['title']."</td>";
                    //Calculate
                    $cont = 0;
                    foreach($props['Vote'] as $vote) {
                      $cont += $vote['value'];
                    }
                    echo "<td>".$cont."</td></tr>";
                }
            }
    ?>
</table>


