body{
	background-color: transparent;
}

html { 
  background: url(../img/bg_turnos.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.textdiv{
	padding: 30px;
	border-radius: 20px;
	background-color: rgba(200,200,200,0.8);
}