<h1>Editar Usertype</h1>
<div class='container'>
<?php
echo $this->Form->create('Usertype');
echo $this->Form->input('name',array('class'=>'form-control','label'=>'name'));
echo $this->Form->end('Guardar');
?>
</div>
