<h1>Nuevo Consultorio</h1>
<div class='container'>
<?php
echo $this->Form->create('Consultorio');
echo $this->Form->input('name',array('class'=>'form-control','label'=>'name'));
echo $this->Form->input('address',array('class'=>'form-control','label'=>'address'));
echo $this->Form->input('phone',array('class'=>'form-control','label'=>'phone'));
echo $this->Form->input('email',array('class'=>'form-control','label'=>'email'));
echo $this->Form->end('Guardar');
?>
</div>
