<h1>Nuevo Obrasocial</h1>
<div class='container'>
<?php
echo $this->Form->create('Obrasocial');
echo $this->Form->input('name',array('class'=>'form-control','label'=>'Nombre'));
echo $this->Form->end('Guardar');
?>
</div>
