<?php echo $this->element('timepicker-libs'); ?>
<h1>Editar intervalo</h1>
<div class='container'>
<?php
echo $this->Form->create('Holiday');
echo $this->Form->input('doctor_id',array('class'=>'form-control','label'=>'Doctor'));
echo $this->Form->input('start',array('label'=>'Fecha Inicio'));
echo $this->Form->input('end',array('label'=>'Fecha Fin'));
echo $this->Form->end('Guardar');
?>