<h1>Nuevo Usuario</h1>
<div class='container'>
<?php
echo $this->Form->create('User');
echo $this->Form->input('username',array('class'=>'form-control','label'=>'DNI'));
echo $this->Form->input('password',array('class'=>'form-control','label'=>'password'));
echo $this->Form->input('active',array('class'=>'form-control','label'=>'Activo'));
echo $this->Form->input('usertype_id',array('class'=>'form-control','label'=>'Tipo de Acceso'));
echo $this->Form->end('Guardar');
?>
</div>
