</div>

<div class="row">
    <div class="col-md-3 hidden-sm hidden-xs">
       <div class="pull-center">
        
        </div>     
    </div>
    <div class="col-md-4 col-md-offset-1 col-xs-8 col-xs-offset-2 box-challenge">
                <div class="box-createproposal">
<?php echo $this->Session->flash('auth'); ?>
<?php echo $this->Form->create('User'); ?>
    <fieldset>
        <legend style="color:#000;font-family:'Asap'">
            Ingresá tu nombre de usuario y contraseña
        </legend>
        <?php echo $this->Form->input('username',array('class'=>'form-control','label'=>'DNI'));
        /*echo $this->Form->label('Ingreso Doctor');
        echo $this->Form->checkbox('Isdoctor');*/
        echo $this->Form->input('password',array('class'=>'form-control'));
    ?>
    
    </fieldset>
    <br/>
<center>
       <div class="pull-center">
    <?php
       echo $this->Form->submit(
        'INGRESAR ', 
        array('id' => 'btnCreateUser','class' => 'btn btn-primary btn-lg', 'title' => 'INGRESAR')
    );
        ?>
        
    </div>
    <br/>
    

    
</center>
</div>

<br/>
</div>